<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/first-project/src/Component/Header/style.css">
  </head>
  <body>
    <header>
      <div class="nav">
        <div class="logo">
          <img src="/first-project/src/Images/ING_logo.jpg" alt="" srcset="" />
        </div>
        <div class="nav-links">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Download</li>
            <li>Contact</li>
            <li>Products</li>
          </ul>
        </div>
       
      </div>
      <div class="outerNav">
        <div class="navItems">
          <h3>COME AND BUILD THE FUTURE</h3>
          <button class="btn">JOIN US</button>
        </div>
      </div>
    </header>
    <div class="banner">
      <div class="bannerHead">
      <h3>OUR LAPTOPS</h3>
      <p> dolor sit amet consectetur adipisicing elit. Harum assumenda pariatur quos autem maxime voluptatem vitae animi vero distinctio aut!</p>
      </div>
      <div class="bannerCard">
        <div class="card1">
          <div class="cardImg">
            <img src="/first-project/src/Images/laptop1.jpg" alt="" srcset="">
          </div>
          <div class="cardInfo">
            <h5>
              MID RANGE
            </h5>
            <p>
              Buy Laptop in Your Budget
            </p>
          </div>
        </div>
        <div class="card2">
          <div class="cardImg">
            <img src="/first-project/src/Images/laptop1.jpg" alt="" srcset="">
          </div>
          <div class="cardInfo">
            <h5>
              MID RANGE
            </h5>
            <p>
              Buy Laptop in Your Budget
            </p>
          </div>
        </div>
        <div class="card3">
          <div class="cardImg">
            <img src="/first-project/src/Images/laptop1.jpg" alt="" srcset="">
          </div>
          <div class="cardInfo">
            <h5>
              MID RANGE
            </h5>
            <p>
              Buy Laptop in Your Budget
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
